/*view port = visible area of webpage, vh, vw*/
/*dimensions of the container*/

.timer {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
}

.backgroundContainer {
  background-image: url('game6.jpg');
  background-size: cover;
  background-position: center;
  height: 97vh;
  width:229vh;
  font-size: 22px;
  font-weight: 900;
  position: absolute;
}


.row-item {
  display: flex;
  justify-content: center;
  border-bottom: 10px solid white;
  
}

.row-item-one {
  display: flex;
  justify-content: center;
  border-bottom: 10px solid white;
  
}

.row-item-two {
  display: flex;
  justify-content: center;
  border-bottom: 10px solid white;
  
}

.row-item-three {
  display: flex;
  justify-content: center;
  border-bottom: 10px solid white;
  
}