/*view port = visible area of webpage, vh, vw*/
/*dimensions of the container*/



.backgroundContainer {
  background-image: url('game1.jpg');
  background-size: cover;
  background-position: center;
  height: 110vh;
  width: 100%;
  font-size: 22px;
  font-weight: 900;
  position: absolute;
}


.row-item {
  display: flex;
  justify-content: center;
  border-bottom: 10px solid white;
  
}